global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'easypan-backend'
    metrics_path: '/api/actuator/prometheus'
    static_configs:
      - targets: ['backend:7090']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'easypan-backend'

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres-exporter:9187']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-exporter:9121']
